Service/OtherClient/Service References/ServiceReference2/services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1379/services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
  <xs:element name="CarMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MakeYear" type="xs:int" />
        <xs:element minOccurs="0" name="SerType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Age" type="xs:int" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address" nillable="true" type="xs:string" />
  <xs:element name="Zip" nillable="true" type="xs:string" />
  <xs:element name="RequestMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxNum" type="xs:int" />
  <xs:element name="ResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckResult" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Worker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkerAge" type="xs:int" />
        <xs:element minOccurs="0" name="WorkerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary" name="WorkerArtist" nillable="true" type="q1:ArtistInfo" />
</xs:schema>