Service/WindowsFormClient/Service References/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1378/services?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1378/services?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1378/services?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddInt_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInt" />
  </wsdl:message>
  <wsdl:message name="IService_AddInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIntResponse" />
  </wsdl:message>
  <wsdl:message name="TransferFileMessage">
    <wsdl:part name="parameters" element="tns:TransferFileMessage" />
  </wsdl:message>
  <wsdl:message name="TransferFileMessage_Headers">
    <wsdl:part name="File_Name" element="tns:File_Name" />
  </wsdl:message>
  <wsdl:message name="ResultMessage">
    <wsdl:part name="parameters" element="tns:ResultMessage" />
  </wsdl:message>
  <wsdl:message name="ResultMessage_Headers">
    <wsdl:part name="ErrorMsg" element="tns:ErrorMsg" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddInt" message="tns:IService_AddInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddIntResponse" message="tns:IService_AddInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpLoadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpLoadFile" name="TransferFileMessage" message="tns:TransferFileMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpLoadFileResponse" name="ResultMessage" message="tns:ResultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInt">
      <soap:operation soapAction="http://tempuri.org/IService/AddInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpLoadFile">
      <soap:operation soapAction="http://tempuri.org/IService/UpLoadFile" style="document" />
      <wsdl:input name="TransferFileMessage">
        <soap:header message="tns:TransferFileMessage_Headers" part="File_Name" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ResultMessage">
        <soap:header message="tns:ResultMessage_Headers" part="ErrorMsg" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1378/services/test" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>